.user-dashboard {
  background-color: #fff;
  border: 2px solid #000;
  margin: 20px;
  padding: 5px 20px;
  }
  
  .profile {
    height: 120px;
    width: 120px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .username {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
  }
  
  .user-detail {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-size: large;
    color: rgb(141, 138, 138);
  }
  
  .subheading3 {
    text-align: center;
  }
  
  .empty {

    height: 120px;
  }
  
  .span {
    font-weight: bold;
    color: #292929;
  }
  
  .subheading {
    padding-top: 80px;
    font-weight: 200;
    text-align: center;
  }
  
  .subheading1 {
    font-weight: 200;
    text-align: center;
  }
  
  

  .Add-btn {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: rgba(67, 183, 255, 0.615);
    color: #000;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    display: block; /* Ensure the button is a block element */
    text-align: center; /* Center the text inside the button */
}

.nav-link {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color */
}

.center {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
}

  




  
  .Add-btn:hover {
    background-color: rgb(0, 191, 255);
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .username {
        font-size: 30px;
    }
    
    .user-detail {
        font-size: medium;
    }
  
    .subheading,
    .subheading1 {
        padding-top: 40px;
    }
  
    .Add-btn {
        width: 200px;
    }
  }
  
  